*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.nav-bar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
      justify-content: space-evenly; 
     align-items: center; 
    color: #fff;
    
}
.logo{
   width: 114px;
}
.logo-image{
  
    width: 100%;
    height: 50px;
    background-image: url(images/amazonlogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.adress{

   height: 50px;
  width: 88px;
}
.inside-adress{
  display: flex;
   }
   .adress p{
   margin-left: 15px;
   counter-reset: #cccccc;
   font-size: 12px;
   }
.inside-adress p{
 color: white;
 font-weight: 600;
 margin-left: 0;
 font-size: 14px;
}
.search-box{
  display: flex;
  align-items: center;
   width: 900px;
}
.search-box select{
  height: 40px;
  width: 52px;
  border: none;
  padding-left: 10px;
  font-size: 14px;
  background-color: #e6e6e6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-box{
  height: 40px;
  border: none;
  padding-left: 10px;
  font-weight: 500;
   width: 100%; 
   outline: none;
}
.search-box:focus-within{
  border:3px solid orange;
  border-radius: 10px;
}
.search-box div{
  background-color: orange;
  height: 40px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
   border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-box div i{
  font-size: 20px;
  color: #0f1111;
}
.nav-box1{
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
  width: 140px;

}
.nav-box1 p{
  font-size: 12px;

}
.nav-box1 h5{
  font-size: 14px;
}
.nav-box2{
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
  width: 90px;

}
.nav-box2 p{
  font-size: 12px;

}
.nav-box2 h5{
  font-size: 14px;
}
.cart{
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
  width: 90px;
  font-size: 12px;
  font-weight: 600;
  
}
.cart i{
  font-size: 25px;
}
.border{
  border: 1px solid #0f1111;
}
.border:hover{
  border: 1px solid white;

}
.below-nav-bar{
  display: flex;
  color: white;
  background-color: #232f3e;
}
.left-box{
  padding: 10px;
}
.right-box ul{
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}
.right-box ul li{
  list-style: none;
}
.right-box ul li a{
  padding: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.below-nav{
  background-color: #232f3e;
  display: flex;
  color: white;
  width: 100%;
  gap:10px;
}
.left-box{
  font-size: 14px;
  font-weight: 600;
}
.left-box i{
  font-size: 18px;
}
.right-box ul{
  display: flex;
  gap: 10px;
}
.right-box ul li {
  list-style: none;
}
.right-box ul li a{
  text-decoration: none;
  font-size: 14px;
}
.border2{
  border: 1px solid #232f3e;
}
.border2:hover{
  border: 1px solid white;
}
.hero-section{
  background-image: url(images/hero.jpg);
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 20px;
}
.hero-section div{
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.hero-section div p ,a{
  display: inline-block;
  font-size: 14px;

}
.main-section{
  display: flex;
  background-color: rgb(235,134,248);
  width: 100%;
  height: 1000px;
  padding: 20px;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
}
.box{
  background-color: white;
  width: 300px;
  height: 400px;
  border: none;
  padding: 20px;
}
.image-box{
  background-size: cover;
  width: 260px;
  height: 280px;
}
.box h3{
  font-size: 21px;
  color: #0f1111;
  margin-bottom: 20px;
}
.box a{
  color: #2162a1;
  font-size: 13px;
  text-decoration: none;
  margin-top: 20px;
} 
.p1{
  background-color: #3c4d61;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 15px;
}
.p2{
  display: flex;
  justify-content: space-evenly;
  background-color: #232f3e;
  padding: 40px 0px 40px;
}
.p2 div a{
  display: block;
  color: #dddddd;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 15px;
}
.p2 div a:hover{
  text-decoration: underline;
}
.p2 div h3{
  margin-bottom: 15px;
  color: white;
  font-size: 16px;
}
.p3{
  background-color: #232f3e;
  text-align: center;
  border-top:1px solid #716f6f;
  padding: 40px 0px;
}
.p3 img{
  width: 150px;
}
.p4{
  background-color: #131a22;
  text-align: center;
  padding: 30px 0px;
}
.p4 a{
  color: #dddddd;
  font-size: 12px;
  text-decoration: none;
  margin: 0px 5px;
}
.p4 a:hover{
  text-decoration: underline;
}
.p4 p{
  margin-top: 10px;
  color: #dddddd;
  font-size: 12px;
}
